@page "/admin/product/{Id:int?}"

@using System.Text.Json.Serialization
@layout AdminMasterPage;
@inject ProductStoreService prodService;

<h3>@(Id != 0 ? "Edit Product" : "Add Product")</h3>

<EditForm Model="ProductModel" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div>
        <label for="name">Name:</label>
        <InputText id="name" @bind-Value="ProductModel.Name" class="form-control" />
    </div>

    <div>
        <label for="alias">Alias:</label>
        <InputText id="alias" @bind-Value="ProductModel.Alias" class="form-control" />
    </div>

    <div>
        <label for="price">Price:</label>
        <InputNumber id="price" @bind-Value="ProductModel.Price" class="form-control" />
    </div>

    <div>
        <label for="description">Description:</label>
        <InputTextArea id="description" @bind-Value="ProductModel.Description" class="form-control" />
    </div>


    <button type="submit" class="btn btn-primary mt-2">@(IsEditing ? "Save Change" : "Add Product")</button>
    <button type="button" class="btn btn-secondary" @onclick="ClearForm">Cancel</button>
</EditForm>

@code {
    [Parameter]
    public int? Id { get; set; } // Route parameter

    private ProductStore ProductModel = new ProductStore();
    private bool IsEditing = false;

    protected override async Task OnParametersSetAsync()
    {
        await HandleSetProductForm();
    }

    private async Task HandleSetProductForm()
    {
        if (Id.HasValue && Id.Value != 0)
        {
            ProductModel = await prodService.GetProductById(Id.Value.ToString());
            IsEditing = true;
        }
        else
        {
            ProductModel = new ProductStore();
            IsEditing = false;
        }
    }

    private async Task HandleSubmit()
    {
        @* if (IsEditing)
        {
            await prodService.UpdateProduct(ProductModel);
        }
        else
        {
            await prodService.AddProduct(ProductModel);
        } *@

        ClearForm();
    }

    private void ClearForm()
    {
        ProductModel = new ProductStore();
        IsEditing = false;
    }
}
