@namespace blazor_soan_slide.MyComponents
@inject NavigationManager Navigation

<nav class="navbar navbar-expand-sm navbar-dark bg-dark text-white">
    <a class="navbar-brand" href="#">Cybersoft razor</a>
    <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
        aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation"></button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
        <ul class="navbar-nav me-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <NavLink class="nav-link active" href="/" aria-current="page" activeClass="active"
                    Match="NavLinkMatch.All">Home</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/register" activeClass="active" Match="NavLinkMatch.Prefix">Register
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/login" activeClass="active">Login</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/about" activeClass="active">about</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/databinding" activeClass="active">databinding</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/FetchingDataApi" activeClass="active">FetchingDataApi</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/tinder" activeClass="active">Tinder</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/cart" activeClass="active">cart</NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="/lifecycle" activeClass="active">lifecycle</NavLink>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Initialization</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <NavLink class="dropdown-item" href="/demoapi">Demo api</NavLink>
                    <NavLink class="dropdown-item" href="/new-task">new-task</NavLink>
                </div>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Parameter Setting & Updating</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <NavLink class="dropdown-item" href="/demo-setparam">demo-setparam</NavLink>
                </div>
            </li>

             <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Redering</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <NavLink class="dropdown-item" href="/parent-lifecycle">Demo</NavLink>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">Disponse</a>
                <div class="dropdown-menu" aria-labelledby="dropdownId">
                    <NavLink class="dropdown-item" href="/demo-disponse">Demo disponse</NavLink>
                </div>
            </li>


        </ul>
        <EditForm class="d-flex my-2 my-lg-0" EditContext="editContext" OnSubmit="HandleSubmit">
            <input class="form-control me-sm-2" type="text" placeholder="Search" @bind-value="keyword" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                Search
            </button>
        </EditForm>
    </div>
</nav>


@code {
    private string keyword { get; set; }
    private EditContext editContext;

    protected override void OnInitialized()
    {
        // Khởi tạo EditContext với một đối tượng dynamic hoặc new object()
        editContext = new EditContext(new object());
    }

    private async Task HandleSubmit()
    {
        Navigation.NavigateTo($"/search?k={keyword}");
    }
}
