<div class="card">
    <img style="height: 250px;" src="https://picsum.photos/id/@prod.id/300/300" alt="..." />
    <div class="card-body border-success border-1 shadow shadow-lg ">
        <h3>@prod.name</h3>
        <p>Price: @prod.price</p>
        <button class="btn btn-dark" @onclick="() => handleClick(prod)">Detail</button>
    </div>
</div>

@code {
    @using System.Text.Json
    [Parameter]
    public ProductCardModel prod { get; set; }
    [Parameter]
    public EventCallback<ProductCardModel> eventClick { get; set; }
    public async void handleClick(ProductCardModel prodClick)
    {
        @* string json = JsonSerializer.Serialize(prod);
        Console.WriteLine($"Product details: {json}"); *@
        if (prodClick != null)
        {
            await eventClick.InvokeAsync(prodClick);
        }
    }
}


