@page "/"
@layout HomePageMaster

<div class="container ">
    <h1>Home page</h1>
    <div class="row">
        @foreach (var item in lstProd)
        {
            <div class="col-3 mt-2">
                <ProductCard prod="@item" eventClick="HandleChildClick" />
            </div>
        }
        <Modal>
            <h3>Nội dung các component child content</h3>
        </Modal>
        <hr class="mt-2"/>
        <h3>Detail</h3>
        <TableDetail productDetail="productDetail" />
    </div>
</div>

@code {
    private ProductCardModel productDetail = new ProductCardModel();
    private List<ProductCardModel> lstProd = new List<ProductCardModel>(){
        new ProductCardModel { Id = 1, Name = "iphone", Price = 1000 },
        new ProductCardModel { Id = 2, Name = "iphone1", Price = 2000 },
        new ProductCardModel { Id = 3, Name = "iphone2", Price = 3000 },
        new ProductCardModel { Id = 4, Name = "iphone3", Price = 4000 },
    };
    private void HandleChildClick(ProductCardModel prodClick)
    {
        productDetail = prodClick;
    }





    private ProductCardModel prod = new ProductCardModel() { Id = 1, Name = "iphone", Price = 1000 };

}



