<h4>Product Details</h4>

@if (IsLoading)
{
    <p>Loading product information...</p>
}
else if (ProductDetails == null)
{
    <p>No product information available. Enter a valid Product ID and click "Load Product".</p>
}
else
{
    <p><strong>ID:</strong> @ProductDetails.Id</p>
    <p><strong>Name:</strong> @ProductDetails.Name</p>
    <p><strong>Description:</strong> @ProductDetails.Description</p>
}

@code {
    [Parameter]
    public int ProductId { get; set; }

    [Inject]
    public ProductService ProductService { get; set; }

    public Product ProductDetails { get; set; }
    public bool IsLoading { get; set; } = false;

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        // Thiết lập tham số từ component cha
        await base.SetParametersAsync(parameters);
        Console.Write(parameters);
        // Chỉ lấy thông tin sản phẩm nếu ProductId là hợp lệ
        if (ProductId > 0)
        {
            IsLoading = true; // Hiển thị thông báo loading
            ProductDetails =  ProductService.GetProductByIdAsync(ProductId).Result.content;
            IsLoading = false;
        }
    }
}
